.main-cont {
	background-color: #FFFFFF;
}

body {
	background-color: #F0F2F5;
}

.jumbotron {
	background-color: #4285F4;
	box-shadow: 0 0 15px 0 black;
}

.card {
	display: block;
	margin: 10px 10px;
	flex-basis: 300px;
	padding: 10px;
	box-shadow: 0 0 5px 0 black;
}

.card-title {
	font: 100 19px/1 'Helvetica';
}

.film-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.active {
	background-color: rgb(160, 196, 255);
	border-radius: 5px;
}

.navigation {
	margin-bottom: 15px;
}

.info {
	padding: 5px;
}

.list-group {
	margin: 5px auto 10px auto;
	
}

.list-group-item {
	border-left: 0;
	border-right: 0;
	max-width: 400px;
}

.list-group-item:first-child {
	border-top: 0;
}

.list-group-item:last-child {
	border-bottom: 0;
}

span {
	font: 900 15px/1 'Helvetica';
}

.rating {
	float: right;
}

textarea {
	margin-bottom: 5px;
}

.revs {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.reviews {
	flex-basis: 400px;
}

.top-critics {
	flex-basis:  400px;
}